.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: darkgray;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 75%;
}


.footerImg {
    width: 50%;
    padding: 10px;
}

.fa {
    margin: 10px;
}

.fa-thumbs-up {
    color: #fff;
}

.fa-google {
    color: #fff;
}

.socialIcon {
    margin: auto;
}